<p>Najnowsze wiadomosci</p>

<p>children routing start</p>
<router-outlet></router-outlet>
<p>children routing stop</p>

<div>
{{wydrukuj()}}
</div>

<table>
    <thead>
    <tr>
        <th>miasto</th>
        <th>temperatura</th>
        <th>cisnienie</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let pogoda of pogodaMiasta">
        <td>{{pogoda.miasto}}</td>
        <td>{{konwertuj(pogoda.temperatura) | test : '*C' : '(odczuwalna)'}}</td>
        <td>{{pogoda.cisnienie}}</td>
    </tr>
    </tbody>

</table>

<ul>

    <app-wiadomosc [mojtytul]="pierwszyTytul" lead="Lead1"></app-wiadomosc>
    <app-wiadomosc mojtytul="Artykuł2" lead="Lead2"></app-wiadomosc>
    <app-wiadomosc mojtytul="Artykuł3" lead="Lead3"></app-wiadomosc>
    <app-wiadomosc mojtytul="Artykuł4" lead="Lead4"></app-wiadomosc>

</ul>
