<p>Najnowsze wiadomosci</p>

<div>
{{wydrukuj()}}
</div>

<table>
    <thead>
    <tr>
        <th>miasto</th>
        <th>temperatura</th>
        <th>cisnienie</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let pogoda of pogodaMiasta">
        <td>{{pogoda.miasto}}</td>
        <td>{{konwertuj(pogoda.temperatura)}}</td>
        <td>{{pogoda.cisnienie}}</td>
    </tr>
    </tbody>

</table>

<ul>

    <app-wiadomosc [tytul]="pierwszyTytul" lead="Lead1"></app-wiadomosc>
    <app-wiadomosc tytul="Artykuł2" lead="Lead2"></app-wiadomosc>
    <app-wiadomosc tytul="Artykuł3" lead="Lead3"></app-wiadomosc>
    <app-wiadomosc tytul="Artykuł4" lead="Lead4"></app-wiadomosc>

</ul>
